#title {
    font-family: monospace;
    max-width: 900px;
    font-size: 70px;
    margin-bottom: 100px; 
}

body {
    font-family: monospace;
    background-color: #ffff;
    background-image: url('lines.jpg');
    padding: 50px;
    max-width: 800px;
    font-size: 16px;
}

.todo-item {
    display: block;
    font-size: 14px;
}

.todo-checkbox {
    margin-right: 10px;
    vertical-align: middle;
    transform: scale(1.5); 
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #007bff; 
}

#week2 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week3 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week4 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week5 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week6 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week8 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week9 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week10 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week12 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week13 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week14 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#week15 {
    padding-top: 100px;
    width: 600;
    height: auto;
}

#nextpic {
    width: 50px;
    height: auto;
    margin-right: 10px; 
}

#nextpage {
    position: fixed; 
    bottom: 10%; 
    right: 5%;
    display: flex;
    align-items: center; 
  
}

#homepage {
    position: fixed;
    top: 5%; 
    right: 5%; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    width: auto; 
    height: auto; 
}

#homepic {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

#backpic {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

#backpage {
    position: fixed; 
    bottom: 10%; 
    left: 5%; 
    display: flex;
    align-items: center; 
}