body {
    padding-top: 50px;
    background-color: #CBBFBB;
    text-align: center;
}

#pic1 {
    padding-top: 50px;
    width:400px;
    height: auto;
}

#pic2 {
    padding-top: 50px;
    width:400px;
    height: auto;
}

#pic3 {
    padding-top: 50px;
    width:400px;
    height: auto;
}

#pic6 {
    padding-top: 50px;
    width:400px;
    height: auto;
}

#body1{
    background-color:#F7D7E3;
} 

#body2{
    background-color:#BDE0FE;
}

#body3{
    background-color:#F08080
}

#body4{
    background-color:#DBC9E6;
}

#body5{
    background-color:#F08080
}

#body6{
    background-color:#CCD5AE;
}

#body7{
    background-color:#FAEDCD;
}

#body8{
    background-color:#F08080
}

#body9{
    background-color:#e7cdfa ;
}

#body10{
    background-color:#FEFAE0 ;
}

#body11{
    background-color:#DFE7FD ;
}

#body12{
    background-color:#E9EDC9 ;
}

#body13{
    background-color:#FDE2E4 ;
}

table {
    margin: 0 auto;
    border-spacing: 50px;
}

#td {
    border: 1px solid #A32FE6;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius:50%;
    margin: 20px; 
}

#td:hover {
    border: 10px solid #C180E7;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius:20%;
    transform: scale(1.2);
}








#td1 {
    width: 10px;
    height: 10px;
    text-align: center;
}
#td1:hover {
    transform: scale(1.2);
}

#td2 {
    border: 2px solid #D4A373;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td2:hover {
    transform: scale(1.2);
}

#td3 {
    border: 2px solid #D4A373;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td3:hover {
    transform: scale(1.2);
}





#td4 {
    width: 10px;
    height: 10px;
    text-align: center;
}

#td4:hover {
    transform: scale(1.2);
}

#td5 {
    border: 2px solid#478CFB;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td5:hover {
    transform: scale(1.2);
}

#td6 {
    border: 2px solid#478CFB;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td6:hover {
    transform: scale(1.2);
}








#td7 {
    width: 10px;
    height: 1opx;
    text-align: center;
    padding-bottom: 20px;
}

#td7:hover {
    transform: scale(1.2);
}

#td8 {
    border: 2px solid#91E780;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td8:hover {
    transform: scale(1.2);
}

#td9 {
    border: 2px solid#91E780;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td9:hover {
    transform: scale(1.2);
}









#td10 {
    width: 10px;
    height: 10px;
    text-align: center;
}

#td10:hover {
    transform: scale(1.2);
}

#td11 {
    border: 2px solid #F4978E;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td11:hover {
    transform: scale(1.2);
}

#td12 {
    border: 2px solid #F4978E;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}

#td12:hover {
    transform: scale(1.2);
}






#cafemaude {
    width:400px;
    height: auto;
    border-radius: 10%;
}

#cafemaude1 {
    width:400px;
    height:350px;
    border-radius: 10%; 
}

#langolomap {
    width:400px;
    height: auto;
    border-radius: 10%;
}

#langolofood {
    width:400px;
    height: auto;
    border-radius: 10%;
}

#moussemap {
    width:400px;
    height: auto;
    border-radius: 10%;
}

#moussefood {
    width:400px;
    height: auto;
    border-radius: 10%;
}

#elixirmap {
    width:400px;
    height: auto;
    border-radius: 10%;
}

#elixirfood {
    width:400px;
    height: auto;
    border-radius: 10%;
}

#byebye {
    width: 400px;
    height: auto;
    border-radius: 10%;
}


#greypic {
    width: 60px;
    height: auto;
    position: fixed;
    bottom: 305px;
    right: 30px;
}

#webring{
    text-align: right;
}
    