body {
    font-family: monospace;
    background-color: #faf9f6;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
}

h4 {
    font-size: 2.0em;
    text-align: center;
    margin-bottom: 40px;
  
}

h3 {
    color: #333;
    margin-top: 0;
}

h2{
   color: maroon;
   text-align: center;
}

.section {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ddd;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

#aniforerica {
    width: 300;
    height: 200;
}

#aniforgrace {
    width: 300;
    height: 200;
}

#anisog {
    width: 300;
    height: 200;
}

#ericaforani {
    width: 300;
    height: 200;
}

#ericaforgrace {
    width: 300;
    height: 200;
}

#ericasog {
    width: 300;
    height: 200;
}

#graceforani {
    width: 300;
    height: 200;
}

#graceforerica {
    width: 300;
    height: 200;
}

#gracesog {
    width: 300;
    height: 200;
}






